.card-bg (@margin, @padding) {
  .colors(var(--text-face), var(--card-background-white));
  margin: @margin;
  padding: @padding;
  border-radius: @border-radius;
}

.card-bg-2 (@margin, @padding) {
  .colors(var(--text-face), var(--card-background-white));
  margin: @margin;
  padding: @padding;
  border-radius: @border-radius;
}

.card {
  .colors(var(--text-face), var(--card-background-white));
  margin: @medium-spacer;
  padding: @medium-spacer;
  border-width: 2px;
  border-style: solid;
  border-radius: @border-radius;
}
